@model ProjectsTool.Models.ActiveResourceModel





@Html.HiddenFor(model => model.ProjectResource)
@Html.HiddenFor(model => model.IDProject)


<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.ActiveProject.Percentage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActiveProject.Percentage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ActiveProject.Percentage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ActiveProject.StartActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActiveProject.StartActiveDate, new { htmlAttributes = new { type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ActiveProject.StartActiveDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ActiveProject.EndActiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ActiveProject.EndActiveDate, new { htmlAttributes = new { type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ActiveProject.EndActiveDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class ="btn btn-default"  onclick="doAddResourceProject('@Model.ProjectResource','@Model.IDProject')">Add</a>
        </div>
    </div>
</div>

<script>
    function doAddResourceProject(ProjectResource, IDProject) {
        debugger;
        var data = {
            ProjectResource: ProjectResource,
            ActiveProject: {
                Percentage: $("#ActiveProject_Percentage").val(),
                StartActiveDate: $("#ActiveProject_StartActiveDate").val(),
                EndActiveDate: $("#ActiveProject_EndActiveDate").val()
            },
            IDProject: IDProject
        };

        $.ajax({
                //imposto il tipo di invio dati (GET O POST)
                type: "POST",
                //Dove devo inviare i dati recuperati dal form?
                url: "@Url.Action("DoAddResourceProject", "Home")",
                //Quali dati devo inviare? e che tipo
                data: data,
            success: function (data) {
                
                if (data.flag == true) {

                    alert(data.messaggio);
                    $('#showModal2 .modal-body').load(Router.action('Home', 'AddResourceProject', { IDPerson: ProjectResource, IDProject: IDProject }));
                    }
                    else {
                        
                    alert(data.messaggio);
                    $("#showModal2").modal('hide');

                    $('#showModal .modal-body').load(Router.action('Home', 'SeeResource', { IDProject: IDProject }));

                       
                    }
                },
                error: function () {
                    alert("Chiamata fallita, riprova");
                    //sempre meglio impostare una callback in caso di fallimento
                }

            });
    }
</script>



