@model IEnumerable<ProjectsTool.Project>

@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery-1.12.2.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: DodgerBlue;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>

</head>

<body>
    <h2>Home Page</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Project Name.." title="Type in a name">
    <div class="row">
        <div class="col-sm-8">
            <table class="table" id="myTable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsFinish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Client.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Person.Serial)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsFinish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.Serial)
                            </td>
                            <td></td>
                        </tr>
                    }

            </table>
        </div>
        <div class="col-sm-4">
            <div class="card" id="Resource">
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <a href="@Url.Action("Resources","Home")" class="button">Resources</a>
                </div>
            </div>


           <div class="card" id="AddProject">
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <a class="button" onclick="ShowProjectModal ('@item.IDProject')">ADD NEW PROJECT</a>
                </div>
            </div>

            <div class="card" id="ClientSection">
                <div class="card-body text-center">
                    <h5 class="card-title"></h5>
                    <a href="@Url.Action("ClientSection","Home")" class="button">Client Section</a>
                </div>
            </div>

        </div>

        

</body>

<script type="text/javascript">
    //function ShowProjectModal(IDPerson) {

    //    //window.open(Router.action('Resources', 'Details', { IDPerson: IDPerson }));
    //    //$('#showModal .modal-body').load(Router.action('Employee', 'Index', { UserID: UserID }));
    //    //$('#showModal').modal("show");


    //}

    function ShowProjectModal(IDProject) {

        $('#showModal .modal-body').load(Router.action('Home', 'AddProject', { IDProject: IDProject}));
       $('#showModal').modal("show");


    ////}

    //function ShowViewModal(UserID) {

    //    $('#showModal .modal-body').load(Router.action('Manager', 'ViewTask', { UserID: UserID }));
    //    $('#showModal').modal("show");

    //}

    //function ShowAssegnaModal(UserID) {

    //    $('#showModal .modal-body').load(Router.action('Manager', 'AssegnaTask', { UserID: UserID }));
    //    $('#showModal').modal("show");

    //}



    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }


    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>